:root {
    --primary-color: #99E299FA;
    --secondary-color: #C8FFFFF0;
    --text-color: rgb(50, 50, 50);
    --footer-bg: rgb(128, 219, 192);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-image: linear-gradient(285deg, var(--secondary-color) 0%, var(--primary-color) 90%);
    padding: 60px;
    background-size: cover;
}

header h1 {
    color: rgb(158, 207, 170);
    font-size: 55px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    background-image: linear-gradient(285deg, var(--primary-color) 0%, var(--secondary-color) 80%);
    padding: 20px;
    text-align: center;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 15px;
    font-size: 23px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: var(--secondary-color);
    border-bottom: 2px solid #a8f3edfa;
    border-radius: 2px;
}

h2, p, li {
    font-size: 20px;
    color: var(--text-color);
}

.omne {
    background-size: 100% 100%;
    background-image: linear-gradient(285deg, var(--secondary-color) 0%, var(--primary-color) 90%);
    padding: 20px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding-left: 50px;
}

.zajmyhead, .cestahead, .omnehead, .kontakthead {
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.zajmy {
    background-size: 100% 100%;
    background-image: linear-gradient(285deg, var(--primary-color) 0%, var(--secondary-color) 80%);
    padding: 20px;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding-right: 50px;
}

.cesta {
    background-size: 100% 100%;
    background-image: linear-gradient(285deg, var(--secondary-color) 0%, var(--primary-color) 90%);
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding-left: 50px;
}

.kontakt {
    background-size: 100% 100%;
    background-image: linear-gradient(285deg, var(--primary-color) 0%, var(--secondary-color) 80%);
    text-align: center;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

footer {
    background-color: var(--footer-bg);
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    overflow: hidden;
}

section {
    padding: 30px 10%;
    overflow: auto;
    display: block;
}

